@model Garage25.Models.DetailsMViewModel

@{
    ViewData["Title"] = "Details2";
}

<h1>Details2</h1>

<div>
    <h4>Member</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-4">
            Num Parked Vehicles
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.ParkedVehicles.Count)
        </dd>
    </dl>
</div>

<div class="row">
    @foreach (var item in Model.ParkedVehicles)
    {
        <div class="col-sm-4">
           
        </div>
        <div class="col-sm-8">
            <a asp-action="Details" asp-controller="ParkedVehicles" asp-route-id="@item.Id">@item.RegNum.</a>
        </div>
    }
</div>

    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
