@model Garage25.Models.DetailsMViewModel

@{
    ViewData["Title"] = "Details2";
}

<h3>Member Details</h3>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-4">
            Num Parked Vehicles
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.ParkedVehicles.Count)
        </dd>
    </dl>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Registeration Number
            </th>
            <th>
                Check In Time
            </th>
            <th>
                Color
            </th>
            <th></th>
        </tr>
        @*<tr>
            <th>
                <a asp-action="Details2" asp-route-sortOrder="@ViewData["RegNumSortOrder"]">Registeration Number</a>
            </th>
            <th>
                <a asp-action="Details2" asp-route-sortOrder="@ViewData["CheckInTimeSortOrder"]">Check In Time</a>
            </th>
            <th>
                <a asp-action="Details2" asp-route-sortOrder="@ViewData["ColorSortOrder"]">Color</a>
            </th>
        </tr>*@
    </thead>
    <tbody>
        @foreach (var item in Model.ParkedVehicles)
        {
            <tr>
                <td>
                    <div class="col-sm-4">

                    </div>
                    <div class="col-sm-8">
                        <a asp-action="Details" asp-controller="ParkedVehicles" asp-route-id="@item.Id">@item.RegNum</a>
                    </div>
                </td>
                <td>
                    <div class="col-sm-4">
                    </div>
                    <div class="col-sm-8">
                        <a asp-action="Details" asp-controller="ParkedVehicles" asp-route-id="@item.Id">@item.CheckInTime</a>
                    </div>
                </td>
                <td>
                    <div class="col-sm-4">
                    </div>
                    <div class="col-sm-8">
                        <a asp-action="Details" asp-controller="ParkedVehicles" asp-route-id="@item.Id">@item.Color</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
