@model IEnumerable<Garage25.Models.Member>

@{
    ViewData["Title"] = "Index";
}

<h2 class="text-center">Members</h2>
<br>

<div class="text-center">
    @*<div id="createDiv">
        <button asp-action="Create" type="submit" formmethod="get" value="Check in" class="btn btn-success" id="createButton">Register</button>
    </div>*@

    <form asp-action="Filter" id="inputForm">
        <div class="input-group-text">
            <button asp-action="Create" type="submit" formmethod="get" value="Check in" class="btn btn-success" id="createButton">Register</button>
            <input name="search" class="form-control" placeholder="Search" id="searchField" value="@ViewData["Search"]" />
            <div class="input-group-append">
                <select name="searchterm" @*asp-items="Html.GetEnumSelectList<SearchTerm>()" *@ class="btn btn-primary" id="selectButton">

                    @{ if (ViewData["Select"] == null)
                        {
                            @*<option value="">Select</option>*@
                            <option value="0" selected="selected">User Name</option>
                            <option value="1">Email</option>
                            @*<option value="2" disabled>Start time </option>*@
                        }
                        else
                        {
                            string select = ViewData["Select"].ToString();

                            switch (select)
                            {
                                case "":
                                    @*<option selected="selected" value="">Select</option>*@
                                    <option value="0">User Name</option>
                                    <option value="1">Email</option>
                                    @*<option value="2" disabled>Start time</option>*@
                                    break;

                                case "0":
                                    @*<option value="">Select</option>*@
                                    <option selected="selected" value="0">User Name</option>
                                    <option value="1">Email</option>
                                    @*<option value="2" disabled>Start time</option>*@
                                    break;

                                case "1":
                                    @*<option value="">Select</option>*@
                                    <option value="0">User Name</option>
                                    <option selected="selected" value="1">Email</option>
                                    @*<option value="2" disabled>Start time</option>*@
                                    break;

                                case "2":
                                    @*<option value="">Select</option>*@
                                    <option value="0">User Name</option>
                                    <option value="1">Email</option>
                                    @*<option selected="selected" value="2" disabled>Start time</option>*@
                                    break;

                                default:
                                    break;
                            }
                        }

                    }

                </select>
            </div>
            <div class="input-group-append">
                <input type="submit" name="regno" value="Search" class="btn btn-primary" id="searchButton" />
                <input type="submit" name="reset" value="Reset" class="btn btn-primary" id="resetButton" />
            </div>
        </div>
    </form>
</div>

<table class="table table-striped table-bordered">
    @*<thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                Number of Parked Vehicle
            </th>
            <th></th>
        </tr>
    </thead>*@

    <thead>
        <tr>
            <th>
                @if (ViewData["Search"] != null)
                {
                    @*@Html.DisplayNameFor(model => model.UserName)*@
                    <a>User Name</a>
                }
                else
                {
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["UserNameSortOrder"]">User Name</a>
                }
                @*<a asp-action="Sort" name="regno" type="submit" value="Registration number" class="btn btn-info">Registration number</a>*@
            </th>
            <th>
                @if (ViewData["Search"] != null)
                {
                    <a>@Html.DisplayNameFor(model => model.Email)</a>
                }
                else
                {
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["EmailSortOrder"]">@Html.DisplayNameFor(model => model.Email)</a>
                }
                @*@Html.DisplayNameFor(model => model.Type)*@
            </th>
            <th>
                @if (ViewData["Search"] != null)
                {
                    <a>Number of Parked Vehicles</a>
                }
                else
                {
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["NumParkedVehiclesSortOrder"]">Number of Parked Vehicles</a>
                }
                @*<a>Number of Parked Vehicles</a>*@
            </th>
            <th>
                @if (ViewData["Search"] == null)
                {
                    <span class="text-center text-danger" id="messageField"></span>
                }
                else  if (Model.Count() == 0)
                {
                    <span class="text-center text-danger" id="messageField">No match</span>
                }
                else if (Model.Count() == 1)
                {
                    <span class="text-center text-success" id="messageField">@Model.Count() match</span>
                }
                else
                {
                    <span class="text-center text-success" id="messageField">@Model.Count() matches</span>
                }
           
                @if (TempData["Message"] != null)
                {
                    <span class="text-center text-success" id="messageField">@TempData["Message"]</span>
                }
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ParkedVehicles.Count)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
