@model Garage25.Models.ParkedVehicle

@{
    ViewData["Title"] = "Delete";
}


    <div>

            <h4>Parked Vehicle</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.RegNo)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.RegNo)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CheckInTime)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.CheckInTime)
                </dd>
                <dt class="col-sm-2">
                    Check out time
                </dt>
                <dd class="col-sm-10">
                    @ViewBag.checkouttime
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ParkingTime)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ParkingTime)
                </dd>
            </dl>


        <hr />

        Are you sure you want to Check Out this Vehicle?
        <hr />

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Check Out" class="btn btn-danger" /> |
            <a href="javascript:window.print()"> Print This Page</a> |
            <a asp-action="Index">Back to List</a>
        </form>
    </div>




