@model Garage25.Models.ParkedVehicle

@{
    ViewData["Title"] = "Delete";
}

<h3>Check Out Parked Vehicle</h3>
<div id="print">


<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.RegNum)*@
            Registration Number
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RegNum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.CheckInTime)*@
            Check In Time
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CheckInTime)
        </dd>
    </dl>
    <h3>Check Out Parked Vehicle</h3>
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.RegNum)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.RegNum)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Color)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Color)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CheckInTime)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CheckInTime)
            </dd>
        </dl>
    </div>

    <hr />
    Are you sure you want to check out this vehicle?
    <hr />

</div>

<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Check Out" class="btn btn-danger" /> |
        <input type="submit" value="Check out" class="btn btn-danger" /> |
        <a id="printLink" href="#">Print</a> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>

<iframe name="print_frame" width="0" height="0" frameborder="0" src="about:blank"></iframe>
