@model Garage25.Models.ParkedVehicle

@{
    ViewData["Title"] = "Delete";
}

<h3>Check out Parked Vehicle</h3>


<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RegNum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RegNum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CheckInTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CheckInTime)
        </dd>
    </dl>

    <hr />
    Are you sure you want to check out this vehicle?
    <hr />

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Check out" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
