@model Garage25.Models.RecieptViewModel
@{
    ViewData["Title"] = "Reciept";
}

<div id="print">
    <br>
    <h3>Reciept for Vehicle</h3>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">
            @*@Html.DisplayNameFor(model => model.RegNum)*@
            Registration Number
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.RegNum)
        </dd>
        <dt class="col-sm-4">
            @*@Html.DisplayNameFor(model => model.VehicleType)*@
            Vehicle Type
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.VehicleType)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class="col-sm-4">
            @*@Html.DisplayNameFor(model => model.CheckInTime)*@
            Check In Time
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.CheckInTime)
        </dd>
        <dt class="col-sm-4">
            @*@Html.DisplayNameFor(model => model.CheckOutTime)*@
            Check Out Time
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.CheckOutTime)
        </dd>
        <dt class="col-sm-4">
            @*@Html.DisplayNameFor(model => model.TotalTime)*@
            Total Time
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.TotalTime)
        </dd>
    </dl>
</div>

<div>
    <hr>
    <a id="printLink" href="#">Print</a> |
    <a asp-action="Index">Back to List</a>
</div>

<iframe name="print_frame" width="0" height="0" frameborder="0" src="about:blank"></iframe>
