@model IEnumerable<Garage25.Models.VehicleType>

@{
    ViewData["Title"] = "Index";
}

<h3>List of Vehicle Type</h3>

<p>
    <a asp-action="Create">Create a New Vehicle Type</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |*@
                    @*<a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete Vehicle Type</a>
                </td>
            </tr>
        }
    </tbody>
</table>
